div { border: 1px solid black; overflow: auto;;}

body {
  margin:0px;
}
 /* Section 1 */
/*-----------*/
#menu-fixed {
padding: 0.5%;


  width: 80%;
 margin: auto;
 overflow:hidden;
}

 /* Section 2 */
/*-----------*/
#intro {

}

#menu-scroll {
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1.5%;
  padding: 1%;
}
 #image-over {
  margin-bottom: 3%;
  margin-left: 26%;
  width: 20%;
  text-align: center;
  padding: 14%;
}

#buy-now {
margin-bottom: 1%;
margin-left: 42%;
width: 15%;
text-align: center;
padding: 1%;
}

#watch-trailer {
margin-bottom: 6%;
margin-left: 42%;
width: 15%;
text-align: center;
padding: 1%;
}

 /* Section 3 */
/*-----------*/

#featured-news {

}

#featured-text {
  margin-left: 39.5%;
  margin-right: 42%;
  margin-top: 2%;
  text-align: center;
  width: 20%;.url{cursor:url(http://falconmasters.com/img/cursor.gif), auto;}
  padding: 1%;

}

.featured-video {
  margin-left: 11%;
  width: 10%;
  display: inline-block;
  margin-top: 3%;
  text-align: center;
  padding: 4.5%;
}

#view-all-news {
  margin-left: 39.5%;
  margin-right: 42%;
  margin-top: 2%;
  text-align: center;
  width: 20%;
  padding: 1%;
  margin-bottom: 3%;
}

 /* Section 4 */
/*-----------*/

#fight-title {
  text-align: center;
  width: 25%;
  margin-left: 36.5%;
  margin-top: 3%;
  padding: 0.5%;
  margin-bottom: 1%;
}

#fight-text {
  t.url{cursor:url(http://falconmasters.com/img/cursor.gif), auto;}ext-align: center;
  width: 35%;
  margin-left: 26%;
  margin-bottom: 1%;
  padding: 7%;
}

#explore-game {
  text-align: center;
  width: 20%;
  margin-left: 39.5%;
  margin-bottom: 3%;
  padding: 1%;
}

 /* Section 5 */
/*-----------*/
#heroe-selector {

}

#need-heroes {
  text-align: center;
  width: 25%;
  margin-left: 36.5%;
  margin-top: 3%;
  padding: 0.5%;
  margin-bottom: 1%;
}

#text-heroes {
  text-align: center;
  width: 35%;
  margin-left: 30%;
  margin-bottom: 1%;
  padding: 2%;
  margin-bottom: 8%;
}

#random-heroes {
  text-align: center;
  padding: 6%;
}
#line-heroes{
}

.line1 {
  width: 1%;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  -ms-transform: skew(25rad);
  transform: skew(25rad);
  display: inline-block;
  margin-top: 6.5%;
  margin-left: 0.5%;
}

.line2 {
  width: 1%;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  -ms-transform: skew(25rad);
  transform: skew(25rad);
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 0.5%;
  margin-top: 1%;
}



#image-parallax {
  height: 50%;
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#begin-watch {

}
#begin-image {
  float: left;
  width: 30%;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
  padding-right: 12.5%;
  text-align: center;
  margin-left: 5%;
}
#begin-title {
  float: right;
  margin-right: 22%;
  margin-top: 3%;
  text-align: center;
  width: 20%;
  padding: 1%;
}
#begin-text {
  float: right;
  margin-right: 22%;
  margin-top: 3%;
  text-align: center;
  width: 20%;
  padding: 1%;
}
#begin-buy {
  float: right;
  margin-right: 22%;
  margin-top: 3%;
  text-align: center;
  width: 20%;
  padding: 1%;
}
#begin-image2 {
  float: right;
  margin-right: 22%;
  margin-top: 3%;
  text-align: center;
  width: 20%;
  padding: 1%;
  margin-bottom: 1%;
}

#stay-conected {}
