div { border: 1px solid black; }

body {
  margin:0px;
}
 /* Section 1 */
/*-----------*/


 /* Section 2 */
/*-----------*/
#intro {

}

#menu-scroll {
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1.5%;
  padding: 1%;
}
 #image-over {
  margin-bottom: 3%;
  margin-left: 26%;
  width: 20%;
  text-align: center;
  padding: 14%;
}

#buy-now {
margin-bottom: 1%;
margin-left: 42%;
width: 15%;
text-align: center;
padding: 1%;
}

#watch-trailer {
margin-bottom: 6%;
margin-left: 42%;
width: 15%;
text-align: center;
padding: 1%;
}

 /* Section 3 */
/*-----------*/

#featured-news {

}

#featured-text {
  margin-left: 39.5%;
  margin-right: 42%;
  margin-top: 2%;
  text-align: center;
  width: 20%;
  padding: 1%;

}

.featured-video {
  margin-left: 11%;
  width: 10%;
  display: inline-block;
  margin-top: 3%;
  text-align: center;
  padding: 4.5%;
}

#view-all-news {
  margin-left: 39.5%;
  margin-right: 42%;
  margin-top: 2%;
  text-align: center;
  width: 20%;
  padding: 1%;
  margin-bottom: 3%;
}

 /* Section 4 */
/*-----------*/

#fight-title {
  text-align: center;
  width: 25%;
  margin-left: 36.5%;
  margin-top: 3%;
  padding: 0.5%;
  margin-bottom: 1%;
}

#fight-text {
  text-align: center;
  width: 35%;
  margin-left: 26%;
  margin-bottom: 1%;
  padding: 7%;
}

#explore-game {
  text-align: center;
  width: 20%;
  margin-left: 39.5%;
  margin-bottom: 3%;
  padding: 1%;
}

/*------------------------ MENU 1------------------------- */
#menu-fixed {
	background:#000000;
	margin-bottom:25px;
}

#menu-fixed ul {
	list-style: none;
	overflow: hidden;
}

#menu-fixed ul li {
	float: left;
}

#menu-fixed ul li a {
	display: block;
	padding:0px;
  padding-right: 27px;
	color:#d9d9d9;
	text-decoration: none;
}

#menu-fixed ul li a:hover {
  color:#fff;

}
/*--------------------------------------------------------*/

/*---------------------------MENU 2-----------------------*/
.menu-scroll {
	background:#000000;
	margin-bottom:20px;
  margin-left: 9%;
  margin-right: 8%;
width: 80%;
  opacity: 0.9;

}

.menu-scroll ul {
	list-style: none;
	overflow: hidden;

}

.menu-scroll ul li {
	float: left;

}

.menu-scroll ul li a {
	display: block;
	padding:5px;
	color:#d9d9d9;
	text-decoration: none;


}

.menu-scroll ul li a:hover {
  color: #ff6600;
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.clase-agregada {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:10000000px;
	width:80%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);


}

  /*--------------------------------------------------------*/

  /*----------------------IMAGEN DE HEROES------------------*/

  body, html {
      height: 100%;
      margin: 0;
  }

  .hero-image {
    background-image: url("https://media.redadn.es/imagenes/overwatch-pc-ps4-xbox-one_291061.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .heross {width: 80%;}

  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }

  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  /*--------------*/
  .btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
  /*--------------*/
  /*--------------------------------------------------------*/
